@import '../base.scss';

.project-container{
    margin-bottom: 10em;
}

.card-row{
    display:flex;
    // max-width: 1300px;
    // align-items: stretch;
    background-color: red;
    position: relative;
}

@media(max-width:$layout-breakpoint-medium){
    .card-row{
        flex-direction: column;
    }
}

