@import '../base.scss';

.work-content{
    max-width: 1200px;
    margin: 8em auto;
    h2{
        padding-bottom:2em;
        text-align: center;

    }

    .body-s{
        color:$grey;
        text-align: center;
        padding-bottom: 1em;
    }

    p{
        text-align: justify;
        
    }
    img{
        width:100%;
    }
    figcaption{
        text-align: center;
        font-size: 14px;
    }
}



section{
    max-width: 780px;
    margin:0 auto;
    p{
        line-height: 2;
        font-stretch: ultra-expanded;
    }

    h3{
        margin:2em 0 1em 0;
        padding-bottom:1em;
        border-bottom: 2px dashed $pink;
    }
    span{
        color:$purple;
    }
    ol{
        padding-left: 3em;
        line-height: 2;

    }
    h4{
        // display: inline-block;
        text-transform: capitalize;
        margin:2em 0;
        padding-bottom: 0.5em;
        border-bottom: 2px dotted $pink;
    }
}

.three-cols{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        img{
            width:50px;
        }
        p{
           line-height: 1.5;
           text-align: justify;
           hyphens: auto;
           -webkit-hyphens: auto;
           -moz-hyphens: auto;
           -ms-hyphens: auto;
}
        a{
            // text-decoration: none;
            color:inherit;
        }
    
    }
   
}

iframe{
    width:100%;
    height:500px;

}

.carousel{
    width:100%;
    border: none;
    
    img{
        height: 500px;
        object-fit: contain;
    }
    button{
        width: 100px;
        height:100px;
        opacity: 60%;

    }
    // button{
    //     width:100px;
    //     height: 100px;
    // }
}

.live-demo-container{
    display: block;
}
.live-demo-btn{
    text-decoration: none;
    color: $primary-color;
    background-color: $pink;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding:1em 4em;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 3em;
    font-weight: 400;
    svg{
        padding-right: 0.2em;
    }
    transition-duration: 0.5s;

    &:hover{
        background-color: #cc7b8c;
    }
}

.btn-contour{
    border: 2px solid $pink;
    background: none;
    color:$pink;
    &:hover{
        background-color: $pink;
        color:$primary-color;
    }
}


@media only screen and (max-width:1200px){
    section{
        margin:0 5%;
    }
    // .three-cols{
    //     grid-template-columns: 1fr;
    // }

}

@media only screen and (max-width:768px){
    .three-cols{
        grid-template-columns: 1fr;
    }

}


