@import '../base.scss';


.work-header-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 500px;
    background     : linear-gradient(225.85deg, $purple 0%, $pink 97.53%);

}

.work-header-content {
    text-align: center;
    color     : $primary-color;

    p {
        padding: 1em;
    }

    h1 {
        padding-bottom: 1em;
    }

    &>div {
        display        : flex;
        justify-content: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
            background: none;
            border: 1px solid $primary-color;
            margin: 0 2em;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            svg{
                padding-right : 0.5em;
                padding-bottom: 0.1em;
            }

            &:hover{
                background:$purple;
            }
        }

    }

}

@media(max-width:$layout-breakpoint-small){
    .work-header-container{
        height: 100vh;
    }
    .work-header-content{
        &>div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button:first-child{
                margin-bottom:2em;
            }
            
        }
       
    }
    
}