// colors
$primary-color:#fffff8;
$secondary-color:#000;
$grey:#c4c4c4;
$purple:#8782e3;
$pink:#f09cad;
$light-pink:#f6b6b9;
$blue:#5e78d7;


// breakpoints


$layout-breakpoint-small:760px;
$layout-breakpoint-medium:1100px;